<h1 mat-dialog-title>Branch № {{data.branchId}}</h1>
<form [formGroup]="branchModalForm" (submit)="onSave()">
  <mat-grid-list cols="2" rowHeight="4:1">
    <mat-grid-tile>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Id" formControlName="branch_id">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Lines" formControlName="branch_lines">
        <mat-error *ngIf="branchModalForm.controls.branch_lines.invalid">
          The field is required and must be between 0 and 100
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Num" formControlName="branch_num">
        <mat-error *ngIf="branchModalForm.controls.branch_num.invalid">
          The field is required and must be between 0 and 1000
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Sum" formControlName="branch_sum">
        <mat-error *ngIf="branchModalForm.controls.branch_sum.invalid">
          The field is required and must be a number
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field class="example-full-width">
        <input type="date" matInput placeholder="Pay" formControlName="date_pay">
        <mat-error *ngIf="branchModalForm.controls.date_pay.invalid">
          The field is required
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Data" formControlName="file_data">
        <mat-error *ngIf="branchModalForm.controls.file_data.invalid">
          The field is required
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Name" formControlName="file_name">
        <mat-error *ngIf="branchModalForm.controls.file_name.invalid">
          The field is required
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="List" formControlName="num_list">
        <mat-error *ngIf="branchModalForm.controls.num_list.invalid">
          The field is required and must be between 0 and 1000
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button type="submit">Save</button>
  <button *ngIf="this.data.branchId" mat-button (click)="onRemove()">Remove</button>
</form>