<button mat-raised-button (click)="addBranch()"> Add branch </button>

<table mat-table [dataSource]="data" class="mat-elevation-z8">
  <ng-container [matColumnDef]="column.name" *ngFor="let column of displayedColumns">
    <th mat-header-cell *matHeaderCellDef> {{column.name}} </th>
    <td mat-cell *matCellDef="let element"> {{element[column.value]}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;" (click)="editColumn(row)" class="cursor"></tr>
</table>



