table {
  width: 100%;
}

button {
  margin: 16px 8px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.cursor {
  cursor: pointer;
}